/* ================================================================== */
/* =========================GLOBAL STYLING=========================== */
/* ================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

:root {
    --primary-color: rgb(31, 131, 94);
    --secondary-color: rgb(148, 187, 89);
    --accent-color: rgb(26, 26, 26);
    --secondary-bg-color: rgba(148, 187, 89, 0.15);
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}


.hyperlink {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1.2rem;
    border-radius: 25px;
    font-size: 0.8rem;
}

button {
    border: none;
}

/* ================================================================== */
/* ================================================================== */
/* ================================================================== */


/* HEADER */
header {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 1.5rem;

    width: 100%;
    height: 15vh;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 100%;
}

.user-icons {
    display: flex;
    align-items: center;
}

.header-top-icons {
    width: 20px;
}

.main-navigation,
.user-dropdown,
#header-form {
    display: none;
}

.header-a {
    display: block;
    width: 30%;
    height: auto;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
}

/* USER ICONs */
.user-icons {
    display: flex;
    align-items: center;
    gap: 6px;
}

.work {
    width: 25px;
}

.seen {
    width: 25px;
}

.good {
    width: 25px;
}

.mobile-menubtn {
    font-size: 2rem;
    width: 25px;
}

/* ICON BUTTON */
.user-icons button {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* GENERAL */
section {
    padding-block: 2rem;
}

section h2 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

section small {
    display: block;
    color: #777;
    font-size: 8px;
    margin-bottom: 4px;
}


/* hero section */
.hero-section {
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: 1.5rem;
    width: 100%;
}

.hero-left {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.text-left {
    color: var(--primary-color);
}

.hero-left .hyperlink {
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-items: end;
}

.hero-left h1 {
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

/* FEATURED CATEGORIES */

.categories {
    text-align: center;
}

.category-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    color: black;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-block-end: 1.5rem;

}

.category {
    background-color: var(--secondary-bg-color);
    padding-block: 2rem;
}

.category .hyperlink {
    display: flex;
    justify-self: center;
    font-size: 1rem;
}

.category-card figcaption {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.2rem;
}

.img-card {
    overflow: hidden;
    border-radius: 1rem;
    aspect-ratio: 1.2/0.8;
    object-fit: fill;
    width: 100%;
}


/* PROMOTIONS */
.promotional-features {
    padding-inline: 1.5rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}

.promotion-card {
    min-height: 165px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 23px;
}

.promotion-card::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    inset: 0;

}

.promotional-vegetables {
    background: #eef0e7;
}

.promotional-fruits {
    background: #edf2dc;
}

.promotion-content {
    position: relative;
    z-index: 3;
}

.discount {
    color: #777;
    font-size: 10px;
    background-color: #fff;
    width: 90%;
    padding: 0.2em 0.4em;
    border-radius: 12px;
}

.promotional-features-h2 {
    padding: 5px 15px;
    margin-bottom: 22px;
    line-height: 1.05;
    font-weight: 500;
}

.promotion-img {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.promotional-features .hyperlink {
    display: flex;
    justify-self: center;
    font-size: 1rem;
}

.h2-second {
    font-size: 12px;
    line-height: 1.03;
    font-weight: 500;
    margin: 7px 0 13px;
}

/* FEATURED PRODUCTS */
.featured-products {
    padding: 29px 42px 31px;
    background: var(--secondary-bg-color);
}

.text-left {
    color: var(--primary-color);
}



.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

}

.product-card {
    min-height: 195px;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
}

.product-information button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 1rem;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: 90%;
}



.product-h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 29px;
    font-weight: 600;
}



.section-action {
    text-align: center;
    margin-top: 19px;
}

.featured-products .hyperlink {
    display: flex;
    justify-self: center;
    font-size: 1rem;
    color: #000;
    font-size: 1rem;
    background-color: var(--secondary-bg-color);
}



/* SUMMER DISCOUNT */
.summer-discount {
    padding-inline: 1.5rem;
    background-color: var(--section-space);
}

.discount-content {
    padding: 38px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.discount {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 17px;
    color: #888;
    font-size: 1rem;
    font-weight: 500;
}

.countdown {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 17px;
    font-size: .4rem;
}

.countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown strong {
    font-size: 23px;
    font-weight: 1000;
}

.countdown span {
    color: #999;
    font-size: .7rem;
}

.countdown i {
    color: #aaa;
    font-size: 17px;
    font-style: normal;
}

.summer-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
}

.summer-discount .hyperlink {
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-self: center;
}

/* DEALS OF THE DAY*/
.h2-deal {
    display: flex;
    justify-self: center;
    font-size: 2rem;
    font-weight: 600;
}

.deal-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-inline: 1.5rem;
}



.deal-card {
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 8px;
}

.deal-grid h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.section-label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: 6rem;
    font-size: 25px;
}

.deal-grid .hyperlink {
    display: flex;
    justify-self: center;
    font-size: 1rem;
    align-self: center;
}

.deal-h3 {
    display: flex;
    justify-self: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.2rem;
}

.deal-price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 29px;
    font-weight: 600;
}

.img-card {
    overflow: hidden;
    color: grey;
    border-radius: 1rem;
    aspect-ratio: 1.2/0.8;
    object-fit: fill;
    padding-inline: 1.5rem;
    margin-bottom: 0.5rem;
}

/* FOOTER */

.site-footer {

    padding-top: var(--section-space);
    background-color: var(--secondary-color);
    color: var(--white);
}


.footer-grid {

    display: grid;
    gap: 2.5rem;
}


/* Footer logo */

.footer-logo {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 40%;
}


.footer-company p,
.footer-column p {

    margin: 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
}


.footer-column h3 {

    padding: 15px;
    margin: 0 0 1rem;
    font-size: 0.75rem;
}


.footer-column li {

    margin-bottom: 0.5rem;
}


.footer-column a {

    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
}


.footer-column a:hover {
    color: var(--accent-color);
}


.days-heading {
    margin-top: 1.5rem !important;
}


/* Footer bottom */

.footer-bottom {

    margin-top: var(--section-space);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}


.footer-bottom-content {

    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.footer-bottom p {

    display: flex;
    align-self: center;
    justify-self: center;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}


/* Social links */

.social-links {

    display: flex;
    gap: 0.5rem;
}


.social-links a {

    width: 28px;
    height: 28px;
    display: grid;
    color: orange;
    place-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.12);
    font-size: 1.15rem;
}

/* TABLET */

@media (min-width: 600px) {

    /*
       Category cards become two columns.
    */

    .category-grid {

        grid-template-columns: repeat(2, 1fr);
    }


    /*
       promotional-features section becomes
       two columns initially.
    */

    .promotional-features {

        grid-template-columns: 1fr 1fr;
    }

    /*
       Products cards become two columns.
    */

    .product-grid {

        grid-template-columns: repeat(2, 1fr);
    }

    /*
       Summer-discount cards become two columns.
    */

    .summer-discount {

        grid-template-columns: repeat(2, 1fr);
    }

    /*
       Deals cards become two columns.
    */

    .deal-grid {

        grid-template-columns: repeat(2, 1fr);
    }



    /*
       Footer begins to spread horizontally.
    */

    .footer-grid {

        grid-template-columns: 1.5fr 1fr 1fr;
    }

}


/* =====================================================
    DESKTOP
===================================================== */

@media (min-width: 900px) {

    /*
       Increase standard vertical section spacing.
    */

    :root {

        --section-space: 5rem;

    }


    /* ---------------------------------------------
       HEADER
    --------------------------------------------- */

    .main-navigation {
        display: block;
    }


    .menu-toggle {
        display: none;
    }


    .phone-button {
        display: inline-flex;
    }


    /* ---------------------------------------------
       HERO
    --------------------------------------------- */

    .hero {

        min-height: 560px;

    }


    .hero-content {

        padding-top: 5rem;

    }


    /* ---------------------------------------------
       EVENTS
    --------------------------------------------- */

    .event-grid {

        gap: 1.2rem;

    }


    .event-card {

        min-height: 230px;

    }


    /* ---------------------------------------------
       EXCELLENCE
    --------------------------------------------- */

    .excellence-heading {

        grid-template-columns: 180px 1fr;
        align-items: center;
        max-width: 750px;

    }


    /*
       Three columns:

       TEXT | GREEN BOX | VIDEO
    */

    .excellence-grid {

        grid-template-columns: 1.1fr 0.8fr 1fr;
        align-items: stretch;

    }


    /* ---------------------------------------------
       CTA
    --------------------------------------------- */

    .cta {

        min-height: 440px;

    }


    /* ---------------------------------------------
       FOOTER
    --------------------------------------------- */

    .footer-grid {

        grid-template-columns: 1.4fr 1fr 1fr 1.2fr;

    }


    .footer-bottom-content {

        flex-direction: row;
        justify-content: space-between;

    }

}